@{
    ViewData["Title"] = "Contact Us";
}

<div class="container-fluid  text-center bg-transparent" style="opacity: 1;">
    <h1>CONTACT US</h1>
    <hr>
    <div class="row">
    <div class="col" @*style="background-image: url('https://wallpaperaccess.com/full/3351434.jpg')*@">
      <div class="">
    <img src="http://simpleicon.com/wp-content/uploads/mobile_phone.png" class="card-img-top" alt="...">
    <hr>
    <div class="card-body">
      <h5 class="card-title">Phone Number</h5>
      <b>
      <p class="card-text">+91 1800 567 432</p>
      <p class="card-text">+91 1800 223 651</p>
      <p class="card-text">+91 1800 991 119</p>
       </b>
    </div>
  </div>
    </div>
    <div class="col"> 
     <div class="">
    <img src="http://simpleicon.com/wp-content/uploads/building-3.png" class="card-img-top" alt="...">
   <hr>
    <div class="card-body">
      <h5 class="card-title">Address</h5>
      <b>
      <p class="card-text">G-10, phase - 2 Noida</p>
      <p class="card-text">Uttar Pradesh - 290872</p>
      </b>
    </div>
  </div>
    </div>
    <div class="col">
        <div class="">
    <img src="/pictures/SeekPng.com_mail-png_352346.png" class="card-img-top" alt="...">
    <hr>
    <div class="card-body">
      <h5 class="card-title">Email</h5>
      <b>
      <p class="card-text">www.SattInnTravel@gmail.com</p>
      <p class="card-text">www.SattInnTravel@yahoo.com</p>
      <p class="card-text">www.SattInnTravel@outlook.com</p>
      </b>
    </div>
  </div>
    </div>
  </div>
</div>
